/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*custom styles from here*/
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
    background-color: rgb(21, 2, 104);
    padding: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.home{
    font-size: 30px;
    color: white;
    font-weight: 900;
    text-decoration: none;
    text-shadow: 2px;
    margin: 20px;
}
.blog {
    font-size: 30px;
    color: rgb(95, 206, 95);
    font-weight: 900;
    text-decoration: none;
    text-shadow: 2px;
    margin: 20px;
}
.blogsection{
    width: 1213px;
    line-height: 1.5;
    margin: 50px auto;
}

.blogh1{
    text-align:left;
    font-size: 35px;
    font-weight: 840;
    line-height: 1.2;
}
p{
    font-size: 22px;
    text-align: justify;
    margin-bottom: 20px;
}
button{
    margin: 20px 0px;
    height: 60px;
    width: 150px;
    background-color: rgb(42, 187, 42);
    border-radius: 50px;
    border: rgb(42, 187, 42);
}
.readmore{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}
.article{
    display: inline-block;
    width:584px;
    vertical-align: top;
    margin: 20px 10px;
}
.blogh2{
    text-align:left;
    font-size: 35px;
    font-weight: 840;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-top: 25px;
}
.learnmore
{
    color: rgb(42,187,42);
    font-size:30px;
    font-weight: 600;
}